a:link {
  color: #0D4C92;
  background-color: transparent; 
  font-weight: bold;
}
a:visited {
  color: #0D4C92;
  background-color: transparent; 
  font-weight: bold;
}
a:hover {
  color: #FF7B54;
  background-color: transparent; 
  font-weight: bold;
}
a:active {
  color: #0D4C92;
  background-color: transparent; 
  font-weight: bold;
}
hl_color{
  color: #cc0000;
  background-color: transparent;
  font-weight: bold; 
}

hl_grant{
  color: #1FAB89;
  background-color: transparent; 
  font-weight: bold;
} 
html{
  color: #222831 ; 
  background-color: #EEEEEE; 
  font-family: Helvetica, Tahoma, Arial; 
  /* font-weight: 300;  */
  width:1080px; 
  margin: 0 auto; 
  line-height:150%
}
