
a:link {
  color: #88a5d1;
  background-color: transparent;  
}
a:visited {
  color: #88a5d1;
  background-color: transparent; 
}
a:hover {
  color: #eeeeee;
  background-color: transparent;  
} 
hl_color{
  color: #d0705e;
  background-color: transparent; 
  font-weight:  bold;
}

hl_award{
  color: #141622;
  background-color: #ccab6b;  
}

html{
  color: #ccab6b; 
  background-color: #363636; 
  font-family: Arial, sans-serif; 
  font-size: 16px;
  margin: 0 auto;  
  height: 100%; 
  min-height: 100%;
  width: 100%;
  max-width: 1080px;
  padding: 0;
  line-height:150%
}
