
a:link {
  color: #88a5d1;
  background-color: transparent;  
}
a:visited {
  color: #88a5d1;
  background-color: transparent; 
}
a:hover {
  color: #c94e3c;
  background-color: transparent;  
} 
hl_color{
  color: #c94e3c;
  background-color: transparent; 
  font-weight:  bold;
}

hl_award{
  color: #15100e;
  background-color: #ccab6c; 
  /* font-weight:  bold; */
}

html{
  color: #ccab6c; 
  background-color: #15100e; 
  font-family: Arial, sans-serif; 
  font-size: 16px;
  margin: 0 auto;  
  height: 100%; 
  min-height: 100%;
  width: 100%;
  max-width: 1080px;
  padding: 0;
  line-height:150%
}
