
a:link {
  color: #2B5A6C;
  background-color: transparent;  
}
a:visited {
  color: #2B5A6C;
  background-color: transparent; 
}
a:hover {
  color: #AD322B;
  background-color: transparent;  
} 
hl_color{
  color: #AD322B;
  background-color: transparent; 
  font-weight:  bold;
}
 
html{
  color: #1F2C1C; 
  background-color: #E0E0E0; 
  font-family: Arial, sans-serif; 
  font-size: 16px;
  margin: 0 auto;  
  height: 100%; 
  min-height: 100%;
  width: 100%;
  max-width: 1080px;
  padding: 0;
  line-height:150%
}
