
a:link {
  color: #88a5d1;
  background-color: transparent;  
}
a:visited {
  color: #88a5d1;
  background-color: transparent; 
}
a:hover {
  color: #a42423;
  background-color: transparent;  
} 
hl_color{
  color: #e60012;
  background-color: transparent; 
  font-weight:  bold;
}
 
html{
  color: #ce9b57; 
  background-color: #0b0a09; 
  font-family: Arial, sans-serif; 
  font-size: 16px;
  margin: 0 auto;  
  height: 100%; 
  min-height: 100%;
  width: 100%;
  max-width: 1080px;
  padding: 0;
  line-height:150%
}
